PROJECT_NAME=secur-sn
KAFKA_IMAGE=apache/kafka:4.3.1
SPARK_RUNTIME_IMAGE=secur-sn/spark-runtime:local
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=kafka:19092
KAFKA_STREAMING_BOOTSTRAP_SERVERS=kafka:19092
KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICATION_FACTOR=1
KAFKA_TOPIC_MIN_ISR=1
KAFKA_TOPIC_RETENTION_MS=604800000
KAFKA_INTERNAL_TOPIC_PARTITIONS=1
KAFKA_READY_TIMEOUT_SECONDS=600
MINIO_IMAGE=quay.io/minio/minio:latest
MINIO_ROOT_USER=securadmin
MINIO_ROOT_PASSWORD=securadmin123
MINIO_LANDING_BUCKET=secur-sn-landing
MINIO_QUARANTINE_BUCKET=secur-sn-quarantine
MINIO_REGION=us-east-1
SECUR_SECRET_SALT=change_me_for_demo
HBASE_DOCKER_HOST=hbase
HBASE_THRIFT_PORT=9090
HBASE_REST_URL=http://hbase:8080
HBASE_REST_TIMEOUT_SECONDS=30
HBASE_HEAPSIZE=256
HBASE_CPU_LIMIT=0.75
HBASE_READY_TIMEOUT_SECONDS=600
HBASE_RETRY_SECONDS=5
HDFS_NAMENODE_URI=hdfs://namenode:8020
HDFS_GOLD_ROOT=/secur-sn/gold
HDFS_READY_TIMEOUT_SECONDS=600
HDFS_REQUIRED_DATANODES=2
HIVE_HOST=localhost
HIVE_PORT=10000
HIVE_CATALOG_REFRESH_SECONDS=60
HIVE_SERVICE_OPTS=-Xmx512m
HIVE_METASTORE_DB=hive_metastore
HIVE_METASTORE_USER=hive
HIVE_METASTORE_PASSWORD=hive_metastore_password
AIRFLOW_UID=50000
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_WEBSERVER_WORKERS=1
AIRFLOW_WEBSERVER_WORKER_TIMEOUT=300
AIRFLOW_WEBSERVER_CPU_LIMIT=0.5
AIRFLOW_SCHEDULER_CPU_LIMIT=0.5
PLATFORM_READY_TIMEOUT_SECONDS=1200
PLATFORM_READY_RETRY_SECONDS=5
QUICK_MODE=true
PRODUCER_INTERVAL_SECONDS=1
PRODUCER_MAX_MESSAGES=30
FIELD_SIMULATOR_INTERVAL_SECONDS=20
FIELD_SIMULATOR_MAX_BATCHES=0
NIFI_READY_TIMEOUT_SECONDS=1200
NIFI_FLOW_TIMEOUT_SECONDS=900
NIFI_FLOW_RETRY_SECONDS=10
SPARK_MASTER=local[1]
SPARK_DRIVER_MEMORY=1G
SPARK_CPU_LIMIT=1.0
KAFKA_CPU_LIMIT=0.75
NIFI_CPU_LIMIT=1.0
HIVE_METASTORE_CPU_LIMIT=0.5
HIVE_SERVER_CPU_LIMIT=0.5
SPARK_MAX_OFFSETS_PER_TRIGGER=120
SPARK_STARTING_OFFSETS=earliest
SPARK_TRIGGER_INTERVAL=60 seconds
SPARK_HOTSPOT_WINDOW=5 minutes
SPARK_HOTSPOT_SLIDE=1 minute
SPARK_ANALYTICS_WINDOW=24 hours
SPARK_ANALYTICS_SLIDE=1 hour
SPARK_WATERMARK_DELAY=2 minutes
SPARK_CHECKPOINT_ROOT=/opt/secur-sn/data/checkpoints
